<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/_header.css" type="text/css"/>
  <link rel="stylesheet" href="/styles/home.css" type="text/css"/>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


	<title>Home</title>
</head>
<body>
   <header>
   <%- include('partials/_header'); %>
   </header>
<section>
  <ul  class="article-list-basic" >
      <% for(let story in stories) { %>
      <li>
          <div>
              <h2><a href='/stories/<%= stories[story].id %>'><%= stories[story].title %></a></h2>

              <p>Story in progress? <%= stories[story].active_status %></p>
              <a href='/stories/<%= stories[story].id %>' class="read-more">Read more &rarr;</a>
          </div>
      </li>
     <% } %>
  </ul>
</section>
</body>
</html>
